.form {
  textarea,
  input,
  select {
    border: 1px solid transparent;
  }
  textarea:focus,
  input:focus,
  select:focus {
    box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 30px #00b3ff,
      0 0 50px #00b3ff;
    border: 1px solid #00b3ff;
    outline: groove;
  }
}
@media (max-width: 1100px) {
  .main-container-img {
    display: none;
  }
}
