.footer {
  background-color: #1a1a1f;
  font-family: "Pacifico", cursive;
}
.neon-blue:hover {
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
}
